.configure-wrapper {
  /*background-image: url('../../public/img/light-backgroung-desktop.png');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw 100vh;
  /*background: rgba(255, 255, 255, 0.70);*/
  background: #f6f6f6;
  /*
  --base-gray-ultra-light: #f6f6f6;
    --base-gray-light: #d8d8d8;
    --base-gray-dark: #767676;
  */
  backdrop-filter: blur(12.5px);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    'rbn-header rbn-header'
    '. fc-header'
    'fc-model fc-menu'
    '. fc-footer';

  @media (max-width: 700px) { 
    /*background-image: url('../../public/img/light-backgroung-mobile.png');*/
  }

  @media (max-width: 700px) { 
    grid-template-columns: 1fr;

    grid-template-areas: 
      'rbn-header'
      'fc-header'
      'fc-model'
      'fc-footer';
  }
}

.configure-wrapper.fc-dark-mode {
  /*background-image: url('../../public/img/dark-backgroung.png');*/
}

.configure-wrapper .rbn-header {
  grid-area: rbn-header;
}

.configure-wrapper .fc-header {
  grid-area: fc-header;
}

.configure-wrapper .fc-model {
  grid-area: fc-model;
}

.configure-wrapper .fc-menu {
  grid-area: fc-menu;
}

.configure-wrapper .fc-footer {
  grid-area: fc-footer;
}

