.fc-footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 25px;
  padding: 10px;
  box-sizing: border-box;

  & .fc-footer-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & .fc-footer--show-menu {
      display: none;
    }
  }

  & .fc-footer-price-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 700px) {
    padding: 0px;
    height: 10vh;
    margin-left: 0px;

    & .fc-footer-actions {
      justify-content: space-between;

      & .fc-footer--show-menu {
        display: flex;
      }
    }

    & .fc-footer-price-info {
      justify-content: space-between;
    }

    & .fc-footer--rxc {
      margin-left: 21px;

      & .fc-button {
        display: flex;
        height: 32px;
        padding: 0px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 48px;
        background: var(--Dark, #1F1F24);
      }
    }
  }

  & .fc-footer-price-info {
    & .fc-button {
      border-radius: 1px;
      background: var(--primary-color);
      border-color: var(--primary-color);
    }
  }

  & .fc-footer--price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    gap: 8px;

    & .fc-footer-final-price {
      color: var(--primary-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 25.6px */
      text-transform: uppercase;
    }

    & .fc-footer-total-price {
      color: var(--dark-gray);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 22.4px */
      text-decoration-line: line-through;
    }

    & .fc-footer-discount-price {
      border-radius: 32px;
      border: 1px solid var(--font-dark);
      background: #FFF;

      display: flex;
      height: 20px;
      padding: 0px 8px;
      justify-content: center;
      align-items: center;
      gap: 4px;

      color: var(--font-dark);
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%; /* 19.2px */
      text-transform: uppercase;
    }
  }
}